.c-card {
    box-sizing: border-box;
    padding: 24px;
    background-color: #f8f8f8;
    box-shadow: 0 0 9px 0 rgba(227, 222, 222, 0.5);
}

.c-graphCard {
    box-sizing: border-box;
    display: flex;
    width: 760px;
    height: 480px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 9px 0 rgba(227, 222, 222, 0.8);

    &__cnt {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        padding: 24px;
    }

    &__kv {
        width: 45%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.l-graphCard {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}