.o-inpbox {
    box-sizing: border-box;
    width: 100%;
    min-height: 32px;
    padding: 10px 16px;
    border-radius: 6px;
    border: solid 1px #c3c9cf;
}

.c-form {
    &__tit {}

    &__tit+&__cnt {
        margin-top: 8px;
    }

    &__cnt {}

    &+& {
        margin-top: 16px;
    }
}

.l-form {
    display: flex;

    &__item {
        box-sizing: border-box;
    }

    &--2col {
        margin: 0 -16px;
    }

    &--2col & {
        &__item {
            width: 50%;
            padding: 0 16px;
        }
    }
}