.c-tab {
    &__navs {
        display: flex;
        align-items: center;
    }

    &__item {
        box-sizing: border-box;
        width: auto;
        max-width: 120px;
        padding: 8px 16px;
        text-align: center;
        border-bottom: 2px solid #dadfe5;

        &.is-active {
            color: #e2492f;
            font-weight: bold;
            border-bottom: 2px solid #e2492f;
        }
    }

    &__panel {}
}

.l-tab {
    margin: 24px 0;
}

.l-tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 16px 0;
}